.box-contact-cart {
padding: 25px 30px !important;
}
.box-contact-cart .icon  {
    font-size: 40px;
    margin:  40px 0 !important;
    color: #454545;   
}
.box-contact-cart h2 {
    text-transform: uppercase !important;
    font-size: 18px;
    font-weight: 800;
    color: #383838;
    margin-bottom: 25px;
}
.box-contact-cart a {
    text-decoration: none;
}
.bg-contact-color{
    background-color: #f3f3f3;
}
.bg-contact-color h2 {
    font-size: 35px;
    color: #383838;
    font-weight: 900;
    letter-spacing: 2px ;
}
.bg-contact-color p {
    color: #747474;
    font-size: 19px;
    font-style: italic;
    text-align: center;
}

